* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background: #141414;
}

nav {
  background: #007acc;
  color: #fff;
  height: 60px;
  margin: 0;
  position: sticky;
  top: 0;
  z-index: 1;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

nav a:hover {
  color: aquamarine;
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav ul li {
  margin-left: 20px;
}

header {
  background-color: #000000;
  color: #fff;
  min-height: 200px;
}

header img {
  height: 50%;
  width: 50%;
  padding: 1rem;
}

header h1 {
  margin-top: -25px;
  font-size: 2rem;
  font-weight: 600;
  padding: 1rem;
  color: white;
}

header h2 {
  color: #868686;
  margin-top: -30px;
  font-size: 1rem;
  padding: 1rem;
}

header p {
  padding: 1rem;
}

header ul {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
}

header li {
  color: #fff;
  margin-top: -30px;
  font-size: 1rem;
  padding: 1rem;
}

/* ----------------------------------------- */

main .squad-title {
  color: white;
  padding: 1rem;
}

main section{
  margin-top: -1rem;
  padding: 1rem;
}

main h2 { 
  font-size: 1.2rem;
  margin-top: 5px;
  color: white;
}

article p { 
  margin-top: 0;
  font-weight: 600;
  color: rgb(0, 168, 219);
  text-transform: uppercase;
  letter-spacing: .2em;
  font-size: 1rem;
}

.float-left {
  float: left;
  display: inline-block;
}

.id-card {
  position: relative;
  background-color: #282828;
  height: 75px;
  max-width: 100%;
  border-radius: 5px;
}

.id-card img { 
  max-height: 75px; 
  max-width: 75px; 
  background-color: #ffffff;
  }

.id-card-information {
  width: 65%;
  padding-left: 12px;
  padding-right: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.id-card-information span {
  color: red;
}

/* main section {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  justify-content: space-evenly;
} */

article {
  position: relative;
  background-color: #282828;
  height: 75px;
  max-width: 100%;
  border-radius: 5px;
  margin-bottom: 1rem;
}

@media (min-width: 769px) {
  header img {
    display: none;
  }

  header h1 {
    margin-top: -25px;
    font-size: 10rem;
    font-weight: 600;
    padding: 1rem;
    color: white;
  }
  
  header h2 {
    color: #868686;
    margin-top: -30px;
    font-size: 2rem;
    padding: 1rem;
  }
  
  header p {
    font-size: 2rem;
    padding: 1rem;
  }
  
  header ul {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
  }
  
  header li {
    color: #fff;
    margin-top: -30px;
    font-size: 1rem;
    padding: 1rem;
  }

  .header-info-1 {
    margin: auto;
    width: 1040px; 
    padding: 50px;
  }
  
  main {
    margin: auto;
    width: 1040px; 
    padding: 50px;
  }
}